@*// ---------------------------------------------------------------------------------- //
    // ------------------------------ HOME PAGE VIEW ---------------------------------- //
    // -------------------------------------------------------------------------------- //

    /* -------------------------------------------------------------------------------  */
    /* --------------------------------Team3 - Group2 -------------------------------  */
    
    /* -------------------------------Date: 10-10-2021 -------------------------------  */
    /* -------------------Purpose: THREADED PROJECT OF PROJ-009-004 ------------------  */
    /* -------------------------------------------------------------------------------  */

    // -------------------------------------------------------------------------------- //*@



@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">

    @*// ----------------- Welcome message for Home page ------------------------------ //*@
    <h1 class="display-4">Welcome</h1>

    @*// ----------------- Button for Explore our Packages ----------------------------- //*@
    <h1><a class="btn btn-primary" href="./package">Explore our Packages</a></h1>

</div>
