@*// ---------------------------------------------------------------------------------- //
    // ------------------------- PRIVACY POLICY VIEW ---------------------------------- //
    // -------------------------------------------------------------------------------- //

    /* -------------------------------------------------------------------------------  */
    /* --------------------------------Team3 - Group2 -------------------------------  */
    
    /* -------------------------------Date: 10-10-2021 -------------------------------  */
    /* -------------------Purpose: THREADED PROJECT OF PROJ-009-004 ------------------  */
    /* -------------------------------------------------------------------------------  */

    // -------------------------------------------------------------------------------- //*@



@{ ViewData["Title"] = "Privacy Policy"; }

@*// ----------------- Heading for Privacy Policy ------------------------------ //*@

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
