@*// ---------------------------------------------------------------------------------- //
    // ------------------------------- PAYMENT VIEW ----------------------------------- //
    // -------------------------------------------------------------------------------- //

    /* -------------------------------------------------------------------------------  */
    /* --------------------------------Team3 - Group2 -------------------------------  */
    
    /* -------------------------------Date: 10-10-2021 -------------------------------  */
    /* -------------------Purpose: THREADED PROJECT OF PROJ-009-004 ------------------  */
    /* -------------------------------------------------------------------------------  */

    // -------------------------------------------------------------------------------- //*@



@{ ViewData["Title"] = "Payment"; }

@*// -------------------- Heading for Checkout page ------------------------------ //*@

<h1>Checkout</h1>

@*// -------------------- Redirect to Payment page ------------------------------ //*@

<ul class="list-group">
    <li class="list-group-item bg-warning">
        Use a third party payment service, like
        <a href="https://stripe.com/" target="_blank">Stripe</a> or
        <a href="https://transferwise.com/us" target="_blank">TransferWise</a>.

        Most are pretty easy to incorporate in to your own web application, and then
        you aren't handling money or trying to store credit card numbers.
    </li>
</ul>
