@*// ---------------------------------------------------------------------------------- //
    // -------------------------------- HOME PAGE FROM ADMIN -------------------------- //
    // -------------------------------------------------------------------------------- //

    /* -------------------------------------------------------------------------------  */
    /* --------------------------------Team3 - Group2 -------------------------------  */
    
    /* -------------------------------Date: 10-10-2021 -------------------------------  */
    /* -------------------Purpose: THREADED PROJECT OF PROJ-009-004 ------------------  */
    /* -------------------------------------------------------------------------------  */

    // -------------------------------------------------------------------------------- //*@



@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">

    <form asp-action="Index" asp-controller="Package" method="get">

        <button type="submit" name="id" value="@Model.Package.PackageId"
                class="btn btn-primary">
            Manage Packages
        </button>
    </form>
</div>
